body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100%;
    background-color: antiquewhite;
}

footer {
    width: 100%;
    /* display: flex; */
    text-align: center;
    color: #ffffff;
    background-color: #7FFFD4;
    padding: 1rem 0;
}

.navbar {
    background-color: #7FFFD4;
    
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #070707 !important;
    /* bright magenta text */
}

.navbar .nav-link:hover {
    color: pink !important;
    /* white on hover, optional */
}

button {
    display: inline-block;
    padding: 0.75em 1.5em;
    background: linear-gradient(35deg, #928686, #f2f2f5);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    transition: all 0.25s ease;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.mainHead {
    background-image: none;
    width: 105.5%;
    height: 30vw;
    border: solid 1px#070707;
    text-align: center;
    padding: 10%;
}

.vinForm {
    background-color: #faf3e5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #070707;
    width: 50vw;
    padding: 2vw;
    margin: 2vw;
}


.text-field,
.text-area {
    display: flex;
    margin: 18px auto;
    width: 30vw;
    font-size: 30px;
    border-radius: 5.5px;
}

.text-field {
    height: 40px;
    border: 1px solid lightgray;
}

.button {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 45px;
    background-color: rgb(0, 225, 255);
    color: rgb(0, 0, 0);
    font: bold;
    border-radius: 7.5px;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}